.chartWrapper {
    position: relative;
}
/*
.chartWrapper > canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events:none;
}
*/
.chartAreaWrapper {
    position: relative;
    height: 300px;
    /*
    width: 600px;
    overflow-x: scroll;
*/
}
